#page-room {
  min-height: 100vh;

  &.dark {
    background: #1c1e1f;

    header {
      border-bottom: 1px solid #4d4d4d;
    }

    main {
      .room-title {
        h1 {
          color: #cacaca;
        }
      }

      form {
        textarea {
          background: #191b1c;
          color: #cacaca;
        }

        .form-footer {
          .user-info {
            span, p {
              color: #a1a1a1;
            }
          }
        }
      }
    }
  }
  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;

        @media (max-width: 425px) {
          margin-bottom: 25px;
          max-height: 60px;
        }
      }

      > div {
        display: flex;
        align-items: center;
        gap: 16px;

        @media (max-width: 425px) {
          gap: 12px;
        }

        @media (max-width: 320px) {
          flex-wrap: wrap;
          justify-content: center;
        }

        button {
          height: 40px;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: 414px) {
      margin: auto 16px;
    }
    
    @media (max-width: 720px) {
      margin: auto 24px;
    }

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;

        @media (max-width: 414px) {
          font-size: 18px;
        }
      }
  
      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #FFF;
        font-weight: 500;
        font-size: 14px;

        @media (max-width: 414px) {
          margin-top: 20px;
          text-align: center;
        }
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 130px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        @media (max-width: 414px) {
          .button {
            width: 15px;
          }
        }

        .user-info {
          display: flex;
          align-items: center;
          
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #737388;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835AFD;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 32px;

      .room-box-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px;
        width: fit-content;

        .room-item-div {
          cursor: pointer;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          background: #835afd;
          border-radius: 8px;
          height: 800px;
          width: 300px;
          transition: all 0.2s;

          &:hover {
            background: #835afd;
            color: #fff;
          }
        }

        .closed {
          background: #737380;
          color: #fff;

          &:hover {
            background: #737380;
            opacity: 0.9;
            color: #000;
          }
        }

        @media screen and (max-width: 720px) {
          justify-content: center;
          align-items: center;

          .empty-list {
            width: 100%;
            text-align: center;
          }

          .room-item-div {
            margin: 0 10px;
          }
        }
      }

      .empty-list {
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        gap: 60px;

        &.dark {
          background: #1c1e1f;

          header {
            border-bottom: 1px solid #4d4d4d;
          }

          h1 {
            color: #cacaca;
          }

        }

        > h1 {
          color: rgba(0, 0, 0, 0.8);
        }

        > img {
          width: 300px;
          opacity: 0.9;
        }
      }
    }

    @media screen and (max-width: 720px) {
      margin: 0 13px;
    }
  }
}